<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/dashboard.css' %}">
</head>

<body>
    <div class="p-3 d-flex align-items-center title justify-content-end">
        <a href="{% url 'users:logout' %}" class="logout btn btn-dark d-flex align-items-center justify-content-center">
            Log Out
        </a>
    </div>
    <div class="container d-flex justify-content-between">
        <div class="pets">
            <div class="pet d-flex p-4 mt-4 align-items-center flex-column justify-content-between">
                <h3 class="title d-flex p-2 rounded-5 w-100 justify-content-center align-items-center">
                    <img src="{% static 'users/css/images/pet-logo.png' %}" alt="heart logo" class="logo-help">
                    Welcome to Creature Classes!
                </h3>
                <p>
                    This is a game about rescuing and rehabilitating mystical creatures.  Before you get started, here are a few things you should know:
                </p>
                <p>
                    Rescuing a creature requires 5 <span>gifts</span>.  Don't worry, you get your first 10 gifts just for being willing to help!
                    When you first bring them home the creature will be a little worse for wear, so you'll want to make sure you give them a name and <span>Visit</span> them.
                </p>
                <p>While Visiting you can <span>Play</span> and <span>Train</span> with your creature:
                    Playing nurtures and regenerates the creature and, if they're having a good time, they'll probably give you a gift!
                    Training is intense and provides your creature with a lot of experience toward a level up, but it is taxing!
                </p>
                <p>
                    Your beloved creatures are, at their core, wild and free and not built for confinement.
                    It is best if they some day move on from their rehabilitation.
                    Fortunately it isn't all bitterness!  When you decide a creature is ready to return to their natural habitat,
                    <span>Release</span> them.  In thanks for your help, the creature will reward you with
                    <span>gifts</span> equivalent to their current level!
                </p>
                <p>
                    If you <span>Release</span> a creature at level 10, when they are fully and truly ready to return to nature, the creature will thank you with a <span>feather</span> : the highest and most coveted honor among creatures and their helpers.
                </p>
                <p>After they're inactive <span>15 minutes</span> creatures regain all of their energy but lose a little bit of happiness.  Be warned! If a creature's happiness falls too low, they will leave, awarding none of their usual farewell appreciation.</p>
                <p>You can revisit this page at any time by clicking the <span>help</span> link located to the right of your username on your dashboard.</p>
                <div class="title d-flex p-2 flex-column rounded-5  align-items-center w-100" >
                    <h4>Good Luck!</h4>
                    <a href="/dashboard/" class="btn btn-dark logout">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>