*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #403D58;
}

.title{
    background-color: #4e4187 ;
    color:#5EFC8D;
    font-style: italic;
}

.logo{
    width: 48%;
    margin: 1rem;
    margin-right: 2rem;
}

.logout{
    height: 3rem;
    width: 12rem;
    /* margin-right: 4rem; */
    font-style: normal;
    font-size: 15pt;
    font-weight: 700;
    box-shadow: 1px 1px 4px white;
    border: 1px solid #5efc8d;
}

.pet{
    background-color: #ff69b4;
    outline: .3rem solid #fba860;
    border: .2rem solid #53fc8d;
    border-radius: 1rem;
    width: 20rem;
}

.pet ul{
    list-style: none;
}

.pet-avatar{
    border-radius: 50%;
    background-color: black;
    width: 5rem;
    height: 5rem;
}


.rescue{
    outline: 2px solid hotpink;
    height: 5rem;
    width: 5rem;
    background-color: yellow;
    border-radius: .5rem;
}